<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIPART_LAST.Properties.Settings.SIPARTConnectionString"
            connectionString="Data Source=LAPTOP-9IG4E42U\IRZALUVSALMA;Initial Catalog=SIPART;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>